KERNEL_OBJS=\
Kernel/Lib/KPrintf.o \
Kernel/Lib/KPanic.o \
\
Kernel/Kernel.o \
\
Kernel/CPU/Port.asm.o \
Kernel/CPU/GDT.asm.o \
Kernel/CPU/GDT.o \
Kernel/CPU/Interrupts/IDT.asm.o \
Kernel/CPU/Interrupts/IDT.o \
Kernel/CPU/Interrupts/ISR.asm.o \
Kernel/CPU/Interrupts/ISR.o \
Kernel/CPU/Interrupts/PIC.o \
Kernel/CPU/Interrupts/IRQ.asm.o \
Kernel/CPU/Interrupts/IRQ.o \
\
Kernel/Memory/Heap.o \
Kernel/Memory/KMalloc.o \
Kernel/Memory/PageManager.asm.o \
Kernel/Memory/PageManager.o \
\
Kernel/FileSystem/Disk.o \
